
/* CardStyles.css */
.container {
  padding: 10px;
  display: inline;
  align-self: center;
}

.cardRow {
  display: flex;
  flex-wrap: wrap; /* Permite que las tarjetas se envuelvan en múltiples filas si es necesario */
  justify-content: space-around; /* Distribuye el espacio entre las tarjetas */
}

.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0; /* Elimina cualquier margen que pueda afectar la centración */
}

.customCard {
    width: 19rem;
    font-family: Helvetica,Arial, sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    background-color: #ffffff;   
    padding: 0 1% 0 1%;
    /* align-items: center; Centra el contenido horizontalmente */
}


.imgContainer {  
  display: inline-table;
  align-self: center;
}
/***********************************************/
.customButton {
  background-color: #14213d;
  border-color: #ffffff;
  margin-top: 10px; 
  text-shadow: 0 0 10px green, 
               0 0 10px white;
}

/***********************************************/
.customTitle{
  text-align: left;
  font-weight: bold;
  align-items: left;
  padding-top: 5%;
  padding-left:10%;
  color: rgb(0, 0, 0);  
}

/***********************************************/
.customCard_img {   
  max-width: 200px;
  min-height: 120px;  
  border-radius: 8%/12%; 
}

.customCardText{
  padding: 5% 0 9% 0;
  color: rgb(0, 0, 0);
  text-align: justify;  
}

.customBody{
  padding: 5% 10% 0 10%
}

.star{
  align-self:center
}