/* CardStyles.css */
.container {
  padding: 10px;
}

.cardRow {
  display: flex;
  flex-wrap: wrap; /* Permite que las tarjetas se envuelvan en múltiples filas si es necesario */
  justify-content: space-around; /* Distribuye el espacio entre las tarjetas */
}

.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0; /* Elimina cualquier margen que pueda afectar la centración */
}

.customCard {
    width: 19rem;
    font-family: "Papyrus";
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    background-color: #14213d;   
    align-items: center; /* Centra el contenido horizontalmente */
}


/***********************************************/
.customCard_img {
  object-fit: contain;
  height: 150px;
  margin: 15px 0 10px 0;
}

/***********************************************/
.customButton {
  background-color: #14213d;
  border-color: #ffffff;
  margin-top: 10px; 
  text-shadow: 0 0 10px green, 
               0 0 10px white;
}

/***********************************************/
.customTitle{
  text-align: center;
  color: rgb(237, 237, 151);
  text-shadow:
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #fff,
    0 0 60px rgb(255, 226, 4),
    0 0 80px rgb(255, 226, 4),
    0 0 100px rgb(255, 226, 4),
    0 0 120px rgb(255, 226, 4),
    0 0 140px rgb(255, 226, 4);
}

/***********************************************/
.notranslate {
  translate: no;
}

.customHeader span{
  font-size: 18px;
  padding: 0 5px;
  text-transform: uppercase;
  color: #fff;
  animation: zoomup 2s linear infinite;
  animation-delay: calc(200ms * var(--i));
}

@keyframes zoomup {
  0%,
  100% {
    color: #FFE204;
    filter: blur(1px);
    text-shadow: 0 0 40px #FFE204, 0 0 80px #FFE204, 0 0 120px #FFE204,
      0 0 160px #FFE204, 0 0 200px #FFE204, 0 0 240px #FFE204, 0 0 280px #FFE204,
      0 0 320px #FFE204, 0 0 360px #FFE204, 0 0 400px #FFE204;
  }

  5%,
  95% {
    filter: blur(0);
    color: #fff;
    text-shadow: none;
  }
}
/***********************************************/

.customCardText{
  color: white;
  text-align: justify;
}