body {
  background-color: #f8f9fa; /* Fondo más claro */
  margin: 0;
  padding-top: 150px; /* Espacio para el Navbar fijo */
  padding-bottom: 100px;
}

.navbarHeader {
  background-color: #ff914d; /* Color cálido y atractivo */
  padding: 10px 0;
}

.navbarHeader .navbar-brand {
  padding: 20px 0;
  margin-left: 10px;
}

.sloganText {
  color: #ffffff; /* Color blanco para destacar sobre el fondo cálido */
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
  margin-left: 90px;
  margin-top: 3%; /* Ajustado para mantener su posición original */
  display: inline-block;
}

.navbarLogin {
  display: flex;
  justify-content: flex-end;
}

.buttonLogin, .buttonCarritoCompra {
  position: absolute;
  top: 40px;
}

.buttonLogin {
  right: 70px;
}

.buttonCarritoCompra {
  right: 12px;
}

.horizontalMenu {
  display: flex;
  justify-content: flex-start; /* Alinea los elementos del menú a la izquierda */
  background-color: #343a40; /* Fondo oscuro */
  margin: 0;
  padding: 10px 0;
  position: fixed;
  top: 90px;
  width: 100%;
  left: 0;
  z-index: 1030;
}


.horizontalMenu .nav-link {
  color: #ffffff; /* Color del texto en la sección horizontal */
  margin: 0 15px; /* Espaciado entre los elementos */
}

.horizontalMenu .nav-link img {
  margin-right: 5px; /* Espacio entre el ícono y el texto */
}

.btnBuscar {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 10px;
}

.floating-label {
  display: flex;
  align-items: center;
}

.floating-label img {
  margin-right: 8px;
  width: 20px;
  height: 20px;
}

.floating-label span {
  font-weight: bold;
  color: #007bff;
}

.form-control-custom {
  border: 2px solid #007bff;
  border-radius: 5px;
}