body {
  background-color: #f8f9fa; /* Fondo más claro */
  margin: 0;
  padding-top: 150px; /* Espacio para el Navbar fijo */
  padding-bottom: 100px;
}

.navbarHeader {
  background-color: #ff914d; /* Color cálido y atractivo */
}

.navbarHeader img{
  margin-left: 10px;
}

.navbarHeader .navbar-brand {
  padding: 20px 0;
  margin-left: 10px;
}

.sloganText {
  position: absolute;
  padding: 20px 0;

  color: #000000; /* Color blanco para destacar sobre el fondo cálido */
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
  margin-left: 100px;
  margin-top: 3%; /* Ajustado para mantener su posición original */
  display: inline-block;
}

.navbarLogin {
  display: flex;
  justify-content: flex-end;
}

.buttonLogin, .buttonCarritoCompra {
  position: absolute;
  top: 40px;
  border-color: #000000; /* Color del borde*/
}

.buttonLogin {
  right: 70px;
}

.buttonCarritoCompra {
  right: 12px;
}

.buttonLogin:hover, .buttonCarritoCompra:hover {
  /*color: #FFA07A; /* Color del texto al pasar el ratón por encima */
  border-color: #000000; /* Color del borde al pasar el ratón por encima */
  background-color: #ffffff; /* Color de fondo al pasar el ratón por encima */
}

.horizontalMenu {
  display: flex;
  justify-content: flex-start; /* Alinea los elementos del menú a la izquierda */
  background-color: #343a40; /* Fondo oscuro */
  margin: 0;
  padding: 10px 0;
  position: fixed;
  top: 90px;
  width: 100%;
  left: 0;
  z-index: 1030;
}


.horizontalMenu .nav-link {
  color: #ffffff; /* Color del texto en la sección horizontal */
  margin: 0; /* Espaciado entre los elementos */
}

.horizontalMenu .nav-link img {
  margin-right: 5px; /* Espacio entre el ícono y el texto */
}

/* stylesHeaderyLogin.module.css */
.navLink {
  color: #ffffff; /* Color del texto */
}

.navLink:hover {
  color: #007bff; /* Color del texto al pasar el cursor por encima */
}

.floating_label {
  display: flex;
  align-items: center;
}

.floating_label img {
  margin-right: 8px;
  width: 20px;
  height: 20px;
}

.floating_label span {
  font-weight: bold;
  color: #007bff;
}

.form_control_custom {
  border: 2px solid #007bff;
  border-radius: 5px;
}

/* Estilo para los campos de entrada cuando están enfocados y la información es incorrecta */
input:focus:invalid {
  border: 2px solid red;
}
