html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa; /* Fondo claro en línea con el header */
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* El contenedor ocupa al menos la altura del viewport */
}

main {
  flex: 1; /* Esto hace que el contenido principal ocupe todo el espacio restante */
}

footer {
  background-color: #343a40; /* Color oscuro para el fondo del footer, en sintonía con el header */
  color: white;
  padding: 40px 0; /* Aumentamos el padding para dar más espacio */
  text-align: center;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Ligera sombra para dar profundidad */
}

footer h5 {
  color: #ff914d; /* Color destacado para los títulos, consistente con el navbar */
  font-weight: bold;
  margin-bottom: 15px;
}

footer p, footer ul {
  color: #ffffff; /* Texto blanco sobre el fondo oscuro */
  font-size: 14px;
}

footer ul {
  padding-left: 0;
  list-style: none;
}

footer ul li {
  margin-bottom: 10px;
}

footer ul li a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s;
}

footer ul li a:hover {
  color: #ff914d; /* Color de hover similar al color del header */
}

footer .list-inline-item {
  margin-right: 10px;
}

footer .list-inline-item a {
  font-size: 20px;
}

footer .list-inline-item a:hover {
  color: #ff914d; /* Color de hover para los iconos de redes sociales */
}

footer p {
  margin: 0;
  font-size: 14px;
}