.card{
width: 70%;
max-height: 1500px;
border: 1px, solid !important;
}

.img{
    border: 1px, solid !important;
    border-radius: 20px;
    max-height: 600px;
}
.carousel_custom{
    width: 50% !important;
}
.caption{
    color: antiquewhite;
}