.custom_card {
    width: auto;
    height: 500px;
    
}

.img {
    height: 300px;
    width: auto;
}

.carousel_custom {
    width: 70% !important;
}

.caption {
    color: rgb(0, 0, 0);
    background-color: white;
}

.description{
    height: 100px;
    
}
